
.car-colors{
	width: 100%;
	margin: 40px 0%;
	text-align: center;
}
.car-colors h3{
	text-align: left;
	margin: 50px 0px 10px 5%;
	font-size: 20px;
	border-left: 3px solid #cccccc;
	padding: 4px 8px;
	color: #5214ae;
	font-family: "Yantramanav", sans-serif;
}
.car-colors .badge-color{
	border: 1px solid #e6e6e6;
	border-radius: 20px;
	background-color: #fff;
	display: inline-block;
	margin-top: 50px;
}
.badge-color .badge{
	position: relative;
	margin: 10px 10px;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: black;
	float: left;
	cursor: pointer;
}
.badge-color hr{
	height: 20px;
	width: 1px;
}
.car-colors .box-color{
	background: linear-gradient(45deg,#fff 35%,#F2F2F2 90%,black 5%);
	text-align: center;
	width: 80%;
	margin: 10px 10%;
	border-radius: 10px;
	/*transition: 1s;*/
	height: 500px;
}
.car-colors .box-color img{
    margin: auto;
	width: 60%;
	transition: 1s;
	animation: carcolors 1s ease-in alternate;
}
.car-colors .box-color img.full{
	margin-top: 30px;
	width: 80%;
}
.car-colors .box-color h4{
	text-align: center;
	padding: 10px 20px;
	color: #000;
	font-family: "Poppins", sans-serif;
}
@keyframes carcolors{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

} 

@media only screen and (max-width: 768px) {
  .car-colors h3 {
    margin: 30px 0px 10px 5%; /* Adjust margin for smaller screens */
  }

  .badge-color .badge {
    margin: 10px 5px; /* Adjust margin for smaller screens */
  }

  .car-colors .box-color {
    width: 90%; /* Adjust width for smaller screens */
    margin: 10px 5%; /* Adjust margin for smaller screens */
    height: auto; /* Allow height to adjust based on content */
  }

  .car-colors .box-color img {
    width: 80%; /* Adjust image width for smaller screens */
  }
}

@media only screen and (max-width: 576px) {
  .car-colors h3 {
    font-size: 18px; /* Decrease font size for smaller screens */
  }

  .car-colors .badge-color {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }

  .car-colors .box-color {
    width: 100%; /* Full width for smaller screens */
    margin: 10px 0%; /* Adjust margin for smaller screens */
    height: auto; /* Allow height to adjust based on content */
  }

  .car-colors .box-color img {
    width: 100%; /* Full width for smaller screens */
  }

  .car-colors .box-color h4 {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}
