
.car-colors{
	width: 100%;
	margin: 40px 0%;
	text-align: center;
}
.car-colors h3{
	text-align: left;
	margin: 50px 0px 10px 5%;
	font-size: 20px;
	border-left: 3px solid #cccccc;
	padding: 4px 8px;
	color: #5214ae;
	font-family: "Yantramanav", sans-serif;
}
.car-colors .badge-color{
	border: 1px solid #e6e6e6;
	border-radius: 20px;
	background-color: #fff;
	display: inline-block;
	margin-top: 50px;
}
.badge-color .badge{
	position: relative;
	margin: 10px 10px;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: black;
	float: left;
	cursor: pointer;
}
.badge-color hr{
	height: 20px;
	width: 1px;
}
.car-colors .box-color{
	background: linear-gradient(45deg,#fff 35%,#F2F2F2 90%,black 5%);
	text-align: center;
	width: 80%;
	margin: 10px 10%;
	border-radius: 10px;
	/*transition: 1s;*/
	height: 500px;
}
.car-colors .box-color img{
    margin: auto;
	width: 60%;
	transition: 1s;
	animation: carcolors 1s ease-in alternate;
}
.car-colors .box-color img.full{
	margin-top: 30px;
	width: 80%;
}
.car-colors .box-color h4{
	text-align: center;
	padding: 10px 20px;
	color: #000;
	font-family: "Poppins", sans-serif;
}
@keyframes carcolors{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

} 