.bg-blue {
    background: linear-gradient(to right, #8971ad, #5d26af, #7350a9); 
  }
  
  .skew-box {
    transform: skewY(-6deg);
  }
  
  .unskew-box {
    transform: skewY(0) rotate(-6deg);
  }
  